root=true
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file

# Baseline
[*]
charset=utf-8
indent_style=tab
indent_size=4
tab_width=4
trim_trailing_whitespace=false
max_line_length=256
disable_space_changes_before_trailing_comment=false

space_after_cast=false
space_after_colon_in_case=true
space_after_colon_in_inheritance_clause=true
space_after_comma=true
space_after_for_colon=true
space_after_keywords_in_control_flow_statements=false
space_after_ptr_in_data_member=true
space_after_ptr_in_data_members=true
space_after_ptr_in_method=true
space_after_semicolon_in_for_statement=true
space_after_ternary_colon=true
space_after_ternary_quest=true

space_around_alias_eq=true
space_around_assignment_operator=true
space_around_binary_operator=true
space_around_deref_in_trailing_return_type=false
space_around_member_access_operator=false

space_before_colon_in_case=false
space_before_colon_in_inheritance_clause=true
space_before_comma=false
space_before_for_colon=true
space_before_initializer_braces=false
space_before_open_square_brackets=false
space_before_ptr_in_data_member=false
space_before_ptr_in_data_members=false
space_before_ptr_in_method=false
space_before_semicolon_in_for_statement=false
space_before_template_args=false
space_before_template_params=false
space_before_ternary_colon=true
space_before_ternary_quest=true
space_before_trailing_comment=true

space_between_closing_angle_brackets_in_template_args=false
space_between_method_declaration_parameter_list_parentheses=true
space_between_method_declaration_empty_parameter_list_parentheses=false
space_between_method_call_empty_parameter_list_parentheses=false
space_between_method_call_name_and_opening_parenthesis=false
space_between_method_call_parameter_list_parentheses=true
space_between_method_declaration_name_and_open_parenthesis=false
space_between_parentheses_of_control_flow_statements=true
space_between_square_brackets=false
space_between_typecast_parentheses=true

space_within_empty_initializer_braces=false
space_within_empty_template_params=false
space_within_initializer_braces=true
space_within_parentheses=true
space_within_template_params=false
space_within_template_args=false

# Standard properties
end_of_line=crlf

# ReSharper properties
resharper_autodetect_indent_settings=true
resharper_cpp_indent_style=tab
resharper_cpp_max_line_length=256
resharper_cpp_use_indent_from_vs=false
resharper_csharp_indent_style=tab
resharper_css_indent_style=tab
resharper_disable_space_changes_before_trailing_comment=true
resharper_enforce_line_ending_style=true
resharper_function_declaration_return_type_style=on_single_line
resharper_function_definition_return_type_style=on_single_line
resharper_html_indent_style=tab
resharper_js_indent_style=tab
resharper_line_break_before_comma_in_member_initializer_lists=true
resharper_member_initializer_list_style=line_break
resharper_protobuf_indent_style=space
resharper_protobuf_max_line_length=256
resharper_resx_indent_style=tab
resharper_space_after_keywords_in_control_flow_statements=false
resharper_space_after_ptr_in_data_members=true
resharper_space_after_ref_in_data_members=true
resharper_space_around_binary_operator=true
resharper_space_around_deref_in_trailing_return_type=false
resharper_space_before_ptr_in_data_members=false
resharper_space_before_ref_in_data_members=false
resharper_space_before_template_params=false
resharper_space_between_method_call_parameter_list_parentheses=true
resharper_space_between_method_declaration_parameter_list_parentheses=true
resharper_space_between_parentheses_of_control_flow_statements=true
resharper_space_between_typecast_parentheses=true
resharper_space_within_initializer_braces=true
resharper_space_within_parentheses=true
resharper_toplevel_function_declaration_return_type_style=on_single_line
resharper_toplevel_function_definition_return_type_style=on_single_line
resharper_use_indent_from_vs=false
resharper_vb_indent_style=tab
resharper_wrap_arguments_style=chop_if_long
resharper_wrap_base_clause_style=chop_if_long
resharper_wrap_braced_init_list_style=chop_if_long
resharper_wrap_ctor_initializer_style=chop_if_long
resharper_wrap_enumeration_style=chop_always
resharper_wrap_lines=true
resharper_xmldoc_indent_style=space
resharper_xmldoc_max_line_length=256
resharper_xml_indent_style=space
resharper_xml_max_line_length=256

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_cpp_clang_tidy_hicpp_use_auto_highlighting=none
resharper_cpp_clang_tidy_modernize_use_auto_highlighting=none
resharper_cpp_use_auto_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async:suggestion
csharp_space_after_keywords_in_control_flow_statements=false
csharp_space_between_method_call_parameter_list_parentheses=true
csharp_space_between_method_declaration_parameter_list_parentheses=true
csharp_space_between_parentheses=control_flow_statements,expressions,type_casts
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_naming_rule.locals_rule.import_to_resharper=as_predefined
dotnet_naming_rule.locals_rule.severity=warning
dotnet_naming_rule.locals_rule.style=all_lower_style
dotnet_naming_rule.locals_rule.symbols=locals_symbols
dotnet_naming_rule.local_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.local_constants_rule.severity=warning
dotnet_naming_rule.local_constants_rule.style=lower_camel_case_style
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_style.all_lower_style.capitalization=all_lower
dotnet_naming_style.all_lower_style.word_separator=_
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.upper_camel_case_underscore_tolerant_style.capitalization=pascal_case
dotnet_naming_style.upper_camel_case_underscore_tolerant_style.word_separator=_
dotnet_naming_symbols.locals_symbols.applicable_accessibilities=*
dotnet_naming_symbols.locals_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# MSBuild
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
indent_style=space
indent_size=2

# XML config files
[*.{config,nuspec,resx}]
indent_style=space
indent_size=2

# Python files
[*.py]
indent_style=space
indent_size=4

[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,props,resw,resx,StyleCop,targets,tasks,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*.{asax,ascx,aspx,c,c++,cc,cginc,compute,cp,cpp,cs,cshtml,css,cu,cuh,cxx,h,hh,hlsl,hlsli,hlslinc,hpp,htm,html,hxx,inc,inl,ino,ipp,js,json,jsx,master,mpp,mq4,mq5,mqh,razor,resjson,resw,resx,skin,tpp,ts,tsx,usf,ush,vb}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,axaml,axml,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,paml,proj,props,proto,StyleCop,targets,tasks,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
